<html>

<head> <title>Login Page </title> </head>

<body>

    <form  method="POST" action="/login">

    <label><b>Email</b></label>
    <input type="email" name="email" required>

    <label><b>Password</b></label>
    <input type="password" name="password" required>
    <br>
    <p>
        If you forgot your password then just click here 
        <a href="/forgotpassword">Forgot Password</a>
    </p>
    <button type="submit" value="login">Login</button>

</form>


</body>

<br>
<p>
If you didn't register yet then please
<a href="/register">Register</a>
</p>
<br><br><br>
<br>

</html>